@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* colors */

:root{

   --text-color:white;
   --bg-color:black;
   --border-color:white;

}




body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    font-family: 'Epilogue', sans-serif;
    background-color:var(--bg-color) ;
    

}


header{
    border: 2px solid var(--border-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:10px;
    inline-size: 450px; 
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;   
}
header>h1{
    font-size: 50px;  
}

/* score */

.score-board-container{
    display: flex;
    gap: 18px;
    border: 2px solid var(--border-color);
    padding: 20px 60px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    color: var(--text-color);
}

.user-Card{
    position: absolute;
    top: 15px;
    left: -40px;
    border: 2px solid var(--border-color);
    background-color:var(--bg-color);
    padding: 4px 20px;
    color:var(--text-color);
    border-radius: 10px 10px 10px 10px;
}

.computer-Card{
    position: absolute;
    top:14px;
    right:-75px;
    border: 2px solid var(--border-color);
    padding: 4px 20px;
    background-color:var(--bg-color);
    color: var(--text-color);
    border-radius: 10px 10px 10px 10px;

}



.boxes-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.box{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    height: 150px;
    width: 150px;
    font-size: 95px;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--bg-color);
    
}




.result{   
    color: var(--text-color);
    background-color:var(--bg-color);
}



footer{
    margin-inline: 10px ;
}

.footer-text{
    font-size: 10px;
    color: var(--text-color);
}